*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #333;
    padding: 1rem;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}